click==6.7
cycler==0.10.0
Flask==1.0.2
flask-mongoengine==0.9.5
Flask-PyMongo==0.5.2
Flask-WTF==0.14.2
imutils==0.4.6
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
mongoengine==0.15.0
numpy==1.14.3
opencv-contrib-python==3.4.1.15
opencv-python==3.4.1.15
pandas==0.23.0
Pillow==5.1.0
pymongo==3.7.0
pyparsing==2.2.0
pytesseract==0.2.2
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
Wand==0.4.4
Werkzeug==0.14.1
WTForms==2.2.1
selenium==3.13.0
